.temperature-viewer-grid {
  display: grid;
  grid-gap: var(--homey-su-2);
  grid-template-columns: 1fr 1fr;
}
.temperature-viewer-grid--small {
  margin-top: var(--homey-su-4);
}

.temperature-small-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.temperature-small-card:nth-child(odd) {
  padding-right: var(--homey-su-2);
}

.temperature-card__number {
  font-size: var(--homey-font-size-xxlarge);
  line-height: var(--homey-line-height-xlarge);
  font-weight: var(--homey-font-weight-bold);
}

.temperature-card__number--light {
  background: var(--homey-color-white);
  padding-left: var(--homey-su);
  padding-right: 3px;
}
